# general project files
include .bumpversion.cfg
include Makefile
include AUTHORS
include LICENSE
include CONTRIBUTING.md

# test data
include nbcelltests/tests/*.ipynb

# Webapp
graft js
prune js/node_modules

# Documentation
graft docs
exclude docs/\#*
prune docs/build
prune docs/gh-pages
prune docs/dist

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
